body {
  font-family: 'Roboto Slab', serif;
}

btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

/* * * * *  NAVBAR  * * * * */
.navbar {
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    text-transform: lowercase;;
    font-weight: 400;
    font-size: 15px;
}
.navbar-default .nav > li > a:hover {
  color: gray;
}
.navbar-brand {
    padding: 7px 15px;
}

/* * * * *  header main content  * * * * */
header .header-content p {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 0px;
  text-align: left;
  Xborder-top: 1px solid #fff;
}

.header-content h1 {
    font-size: 44px;
    font-weight: bold;
    text-align: left;
}
.header-content hr {
  text-align: left;
  border-color: #fff;
  border-width: 1px;
  max-width: 285px; /* TODO: change it later */
}

.section-heading {
    color: #30C700;
}

/* * * * *  page sections  * * * * */
.loc-p {
    color: rgba(0,0,0,.7);
    text-align: justify;
    font-size: 15px;
}
.mapsection {
  margin-top: 20px;
}

/* * *  attraction section * * */
.service-box {
  max-width: 100%;
}
#attraction ol {
  /*
  text-align: left;
  margin-left: -35px;
  */
 text-align: left;
  list-style-type: none;
 padding: 0;
 margin: 0;
}

#attraction ol li {
    background-image: url(../img/li.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 35px;
    padding-bottom: 10px;
}
 #attraction ol li.attr-li1 {
   background-image: url(../img/li1.png);
 }
 #attraction ol li.attr-li2 {
   background-image: url(../img/li2.png);
 }
 #attraction ol li.attr-li3 {
   background-image: url(../img/li3.png);
 }
 #attraction ol li.attr-li4 {
   background-image: url(../img/li4.png);
 }
 #attraction ol li.attr-li5 {
   background-image: url(../img/li5.png);
 }
 #attraction ol li.attr-li6 {
   background-image: url(../img/li6.png);
 }
 #attraction ol li.attr-li7 {
   background-image: url(../img/li7.png);
 }
/* auto-generate li style
body {
  counter-reset: item;
}
#attraction ol {
  list-style: none;
}
#attraction li {
  counter-increment: item;
  margin-bottom: 5px;
}
#attraction li:before {
  margin-right: 10px;
  content: counter(item);
  background: gray;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
*/
/* * * booking section * * */
#booking {
  background: #008601;
  color: #fff;
}
#booking h2.section-heading {
  color: #fff;
}
#booking li strong {
  padding-right: 26px;
}

.btn-booking-green {
  color: #fff;
  background-color: #43B51F;
}
.btn-booking-green:hover, .btn-booking-green:active, .btn-booking-green:focus {
  color: #fff;
}
.freedays {
  word-spacing: 3px;
}
.bookdays {
  color: #0B9406;
}
/* * * footer * * */
footer {
  margin-top: 15px;
}
.kydfoot {
  font-size: 9px;
  color: gray;
}

/* * * * *  Media Queries  * * * * */
@media (min-width: 768px) {
  .navbar-default {
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-default .navbar-header .navbar-brand {
      color: #000;
  }
  .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    color: #000;
  }
  .location_map {
    margin-top: 20px;
  }
  header .header-content {
    top: 70%;
  }
}
